NetUtilsSpotifyInjector/disasm-lib/* linguist-vendored=true
NetUtilsSpotifyInjector/mhook-lib/* linguist-vendored=true 

SpotifyChromeElfReplacer/disasm-lib/* linguist-vendored=true
SpotifyChromeElfReplacer/mhook-lib/* linguist-vendored=true 
